<h2>Редактировать клиента</h2>
<%= form_with model: @client, url: client_path(@client), method: :get do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div>
    <%= form.submit 'Сохранить' %>
  </div>
<% end %>